<div class="pagination-container" *ngIf="rowsPerPage > 0 && rowsPerPage < totalCount">
    <ul class="">
        <li class="page-first" (click)="previous(true)" [ngClass]="{'disabled':currentIndex == 0}">
            <a>
                <<</a>
        </li>
        <li class="page-previous" (click)="previous()" [ngClass]="{'disabled':currentIndex == 0}">
            <a>
                <</a>
        </li>
        <li class="page-shift" (click)="shiftLeft()" *ngIf="hasLeftShift()">
            <a>...</a>
        </li>
        <li class="page-item" [ngClass]="{'active': page == currentPage, 'hidden': hideButton(i) }" *ngFor="let page of pages | slice:0:(pageStartsAt+numberOfSelectablePagesInPaginator); let i=index;" (click)="pageSelect(page, i, true)">
            <a>{{page}}</a>
        </li>
        <li class="page-shift" (click)="shiftRight()" *ngIf="hasRightShift()">
            <a>...</a>
        </li>
        <li class="page-next" (click)="next()" [ngClass]="{'disabled':currentIndex == (pages.length - 1) }">
            <a>></a>
        </li>
        <li class="page-last" (click)="next(true)" [ngClass]="{'disabled':currentIndex == (pages.length - 1) }">
            <a>>></a>
        </li>
        <li class="page-count">
            <span>Show</span>
            <select class="form-control" name="paginationSelector" [(ngModel)]="rowsPerPage" (change)="updateRowsPerPage()">
                <!-- <option value="5">5</option> -->
                <option value="10">10</option>
                <option value="25" *ngIf="totalCount>25">25</option>
                <option value="50" *ngIf="totalCount>50">50</option>
                <!-- <option value="100" *ngIf="totalCount>100">100</option> -->
            </select>
        </li>
    </ul>
</div>