.capco-table-body {
    position: relative;
    overflow: auto;
    height: 100%;
    height: 100%;
    ;
    .capco-table-body-row {
        width: auto;
        height: 30px;
        background-color: #fff;
        color: #181d1f;
        border: 1px #dde2eb;
        line-height: 23px;
        border-bottom: 1px solid #babfc7;
        position: relative;
        .capco-table-body-cell {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
        }
    }
}